@font-face {
  font-family: "CharakternyC";
  src: url("/src/fonts/CharakternyC.woff2") format("woff2"),
    url("/src/fonts/CharakternyC.ttf") format("truetype"),
    url("/src/fonts/CharakternyC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cookie-Regular";
  src: url("/src/fonts/Cookie-Regular.woff2") format("woff2"),
    url("/src/fonts/Cookie-Regular.ttf") format("truetype"),
    url("/src/fonts/Cookie-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Downcome";
  src: url("/src/fonts/Downcome.woff2") format("woff2"),
    url("/src/fonts/Downcome.ttf") format("truetype"),
    url("/src/fonts/Downcome.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
